[alias]
  c = commit
  lg = log -p
  st = status
  co = checkout
  tree = log --color --graph --pretty=format:'%C(dim white)%h%Creset -%C(magenta)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit --
[user]
  name = David Sargeant
  email = david@dsargeant.com
[core]
  editor = nvim
  excludesfile = /Users/dsargeant/.gitignore_global
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[credential]
  helper = store
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[branch]
  autoSetupMerge = always
[commit]
  template = /Users/dsargeant/.stCommitMsg
